.first-letter
    font-size: 3.5rem
    initial-letter: 2
    float: left
    margin-top: -.5rem
    margin-left: -.5rem
    padding: 1rem .5rem 0 0
    font-family: $heading-font
    font-weight: 700

.text-underline
    border-bottom: 2px solid $yellow
    padding-bottom: 1rem
    display: inline-block