.first-letter
    font-size: 3rem
    initial-letter: 2
    float: left
    margin-top: -.4rem
    margin-left: -.4rem
    padding: 1.25rem .4rem 0 0
    font-family: $heading-font
    font-weight: 400

.text-underline
    border-bottom: 2.5px solid $yellow
    padding-bottom: .8rem
    display: inline-block

.image--style
    border: $border
    box-shadow: 0 45px 50px -25px RGBA(23, 38, 58, .25)

.title
    font-family: $heading-font
    font-size: 1.5rem
    font-weight: 700
