// Colors
$primary: #e45844
$light: #f0f4f5
$dark: #242F3D
$darkest: #1C3C57
$white: #f5f5f5
$yellow: #D59567

// Shadows
$shadow: 0 30px 50px -10px RGBA(23, 38, 58, .25)

//Border
$border: 6px solid lighten($light, 5%)

// Fonts
$heading-font: 'Playfair Display', serif
$main-font: 'Source Sans Pro', sans-serif

// Variables
$max-width: 1080px

// Breakpoints    
$mobile-width: 576px
$tablet-width: 768px
$laptop-width: 992px
$desktop-width: 1200px
$ultra-wide-width: 1800px 

=mobile
  @media (min-width: #{$mobile-width}) 
      @content

=tablet
  @media (min-width: #{$tablet-width}) 
      @content

=laptop
  @media (min-width: #{$laptop-width}) 
      @content

=desktop
  @media (min-width: #{$desktop-width}) 
      @content

=ultra-wide
  @media (min-width: #{$ultra-wide-width}) 
      @content