@import mixins
@import variables
@import helpers
@import "~/node_modules/hamburgers/_sass/hamburgers/hamburgers.scss"

body 
    font-family: $main-font
    background-color: $light
    color: #2e414d